.Header {
  height: 10%;
  width: 100vw;
  position: fixed;
  top: 0;
  text-align: left;
  padding-left: 5%;
  display: flex;
  color: #fcfcfc;
  background-color: #282c34;
}

.Header > h3 {
  align-self: center;
}
