.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    "header . ."
    ". main ."
    ". . footer"
}

.App-header {
  grid-area: header;
  justify-self: right;
  align-self: center;
}

.App-main {
  grid-area: main;
}

.App-footer {
  grid-area: footer;
  justify-self: center;
  align-self: center;
}
